/*@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #192734;
    --main-txt-color: #ffffff;
    --main-border-color: #38444d;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: white;
    --main-txt-color: black;
    --main-border-color: #e1e8ed;
  }
}
@media (prefers-color-scheme: no-preference) {
  :root {
    --main-bg-color: white;
    --main-txt-color: black;
    --main-border-color: #e1e8ed;
  }
}*/
:root{
  --neutral-color: #697882;
}


.sync_icon{
  height: 10px; 
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}
.robo_icon{
  height: 10px; 
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  background-color: rgb(255, 0, 55); 
}
.arch_icon{
  right: 0%;
  position: relative;
  color: var(--neutral-color);
}
.arch_icon button{
  background:none;
  border:none;
  color: var(--neutral-color);
}
.arch_icon:hover button{
  color: var(--main-txt-color);
}


/*For archive loading button*/
.arch_icon .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 200%;
  left: 0px;
  background-color: var(--main-txt-color);
  color: var(--main-bg-color);
  text-align: center;  
  font-weight: 100;
  padding: 5px 0;
  border-radius: 6px;
  top: 110%;
  right: 100%;
  z-index: 1;
}


.arch_icon .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  right: 75%;
  margin-right: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--main-txt-color);
}


/* Show the tooltip text when you mouse over the tooltip container */
.arch_icon:hover .tooltiptext {
  visibility: visible;
}

.synced {
  background-color: rgb(0,200,0); 
}

.unsynced{
  background-color: rgb(200,100,0); 
}


.tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color:var(--main-txt-color);
  color: var(--main-bg-color);
  text-align: center;
  font-weight: 100;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 200px;
  top: 110%;
  left: 100%;
  margin-left: -20px; /*  Use half of the width (120/2 = 60), to center the tooltip */
}


.sync_icon .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 10px;
  margin-left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--main-txt-color);
}
/* Show the tooltip text when you mouse over the tooltip container */
.sync_icon:hover .tooltiptext {
  visibility: visible;
}

.robo_icon .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 10px;
  margin-left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--main-txt-color);
}
/* Show the tooltip text when you mouse over the tooltip container */
.robo_icon:hover .tooltiptext {
  visibility: visible;
}




.suggHeader{
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  /*justify-content: space-around;*/
  justify-content: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 13px;
}

.suggConsole{
  padding: 5px 5px 8px 5px;
  flex-direction: row;
  display: flex;
  color: var(--main-txt-color);
}

.suggTitle{
  color: var(--main-txt-color);
  margin: 0;
  font-weight: 900;
}

.suggSecondDiv{
  display:flex; 
  justify-content:space-between;
  align-items:center;
}

.suggThirdDiv{
  display:flex; 
  justify-content:space-between;
  align-items:center;
}


.roboTweetDiv{
  position: relative;
  margin-top: 8px;
  padding: 5px 5px 8px 5px;
  flex-direction: row;
  display: flex;
  flex: auto;
  color: var(--main-txt-color);
  background-color: rgba(255, 187, 0, 0.1); 
}

.roboTweet{
  padding-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  flex: auto;
  color: var(--main-txt-color);
}


.suggOptions{

}

.suggOption{
  display:flex; 
  align-items:center
}

.suggestionBox{
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  line-height: 1.3125;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}


.tooltiptext a {
  color: #1b95e0;
}
.tooltiptext a:visited {
  color: #1b95e0;
}


.sug_home {
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 14px;
  padding: 0px 15px 15px 15px;
  width: 100%;
  height: 90vh;
}

.sug_compose {
  margin: 20px 10px 20px 10px;
  border-radius: 5px;
  padding: 8px 20px 20px 20px;
  pointer-events: auto;
  flex-grow: 1;
}


/* width */
div.suggestionBox::-webkit-scrollbar {
  width: 10px;
}

/* Track */
div.suggestionBox::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

/* Handle */
div.suggestionBox::-webkit-scrollbar-thumb {
  background: var(--neutral-color);
}

/* Handle on hover */
div.suggestionBox::-webkit-scrollbar-thumb:hover {
  background: var(--main-txt-color);
}

.dummyContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
}

.dummyLeft {
  flex-basis: 600px;
  flex-grow: 1;
}

.dummyRight {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  min-width: 0;
}

.th-tweet {
  padding: 8px 5px 8px 5px;
  flex-direction: row;
  display: flex;
  border: 1px solid var(--main-border-color);
  border-radius: 3px;
  color: var(--main-txt-color);
  background: var(--main-bg-color);
}

.th-gutter {
  flex-grow: 0;
}

.th-gutter img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.th-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 5px;
  min-width: 0;
}

.th-plus-container {
  flex-grow: 0;
}

.th-header {
  display: flex;
}

.th-header div {
  padding-right: 4px;
  padding-bottom: 2px;
}

.th-header-name {
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}

.th-header-username {
  color: var(--neutral-color);
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}

.th-header-time {
  color: var(--neutral-color);
  flex: 0 0 auto;
}

.th-reply {
  color: var(--neutral-color);
}

.th-text {
  padding-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.th-media {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
  margin-top: 8px;
  overflow: hidden;
}

.th-media-image img {
  max-width: 100%;
  align-self: center;
}

.th-media-image {
    min-width: 50%;
    display: flex;
}

.th-media-top {
    min-height: 50%;
    flex-grow: 1;
    display: flex;
}

.th-media-bottom {
    min-height: 50%;
    flex-grow: 1;
    display: flex;
}

.th-tweet-container {
  position: relative;
  margin-top: 8px;
}

.th-quote {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
  margin-top: 8px;
  padding: 5px 8px 5px 8px;
}

.th-quote-header {
  display: flex;
  align-items: bottom;
}

.th-quote-header-profile {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.th-quote-header-name {
  padding-left: 5px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}

.th-quote-header-username {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--neutral-color);
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}

.th-header-dot {
  color: var(--neutral-color);
}

.th-quote-header-time {
  padding-left: 5px;
  color: var(--neutral-color);
  flex: 1 0 auto;
}

.th-quote-reply {
  padding-top: 3px;
  color: var(--neutral-color);
}

.th-quote-content {
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
}

.th-unavailable {
  background-color: var(--main-background-color);
  color: var(--neutral-color);
}

.th-quote-content-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.th-quote-content-main-media {
  display: flex;
  flex-direction: column;
  max-height: 150px;
  margin-top: 10px;
  overflow: hidden;
}

.th-quote-content-minimedia {
  max-height: 90px;
  max-width: 90px;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.th-hover {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  opacity: 0;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.th-hover:hover {
  transition: .1s ease;
  cursor: pointer;
  opacity: .7;
}

.th-hover-copy {
    font-size: 16px;
    font-weight: 500;
}