#suggestionBox {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 350px;
  width: 600px;
  height: 500px;
  background-color: white;
  overflow: scroll;
  border-radius: 5px;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  line-height: 1.3125;
  font-size: 13px;
}

.rtweet {
  outline: 1px solid black;
  margin: 20px;
  padding: 5px;
}

.rtext {
  margin: 10px;
}

.rurl {
  margin: 10px;
}

.rplus {
  float: right;
  font-size: x-large;
}
