

  .dropdown {
    --border-radius: 3px;
    --border: 1px solid #474a4d;
    --speed: 200ms; 
    position: absolute;
    z-index:2;
    top: 100px;
    width: 115px;
    transform: translateX(-75%);
    background-color: var(--main-bg-color);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0rem;
    overflow: hidden;

      a {
        color: var(--main-txt-color);
      }
    
      .menu {
        width: 100%;
      }
    
      .menu-item {
        height: 15px;
        display: flex;
        align-items: center;
        border-radius: var(--border-radius);
        transition: background var(--speed);
        padding: 0.5rem;
        text-decoration: none;
      }
    
      .menu-item .icon-button {
        margin-right: 0.5rem;
      }
    
    
      .menu-item .icon-button:hover {
        filter: none;
      }
    
      .menu-item:hover {
        background-color: #525357;
      }
    
      .icon-right {
        margin-left: auto;
      }

  }    