
  .sync{
    height: 10px; 
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    
    .tooltiptext{
      width: 200px;
      left: 100%;
    }

    &.synced {
      background-color: rgb(0,200,0); 
    }
  
    &.unsynced{
      background-color: rgb(200,100,0); 
    }
  }


  .robo-sync{  
    position: relative;

    &.unsynced::before {
      content: "...";
    }
    &.synced::before {
      content: "";
    }

    .tooltiptext{
      width: 200px;
      left: 100%;
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    
    &:hover .tooltiptext {
      visibility: visible;
    }
  }

  /*For archive loading button*/
  .tooltiptext{
    visibility: hidden;
    background-color:var(--main-txt-color);
    color: var(--main-bg-color);
    text-align: center;
    font-weight: 100;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 110%;
    margin-left: -20px; /*  Use half of the width (120/2 = 60), to center the tooltip */
  }

  .sync .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 10px;
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--main-txt-color);
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .sync:hover .tooltiptext {
    visibility: visible;
  }

  .filter-icon{
    height:calc(17px);
    width:calc(17px);
    padding: 6px;
  }
  
  .filter-icon:hover{
    border-radius: 50%;
    background-color: var(--neutral-color);
  }
  
  .filter-checkbox{
    display:none;
  }

  input[type="checkbox"]:checked + label{
    display:inline-block;
    fill:var(--main-txt-color);
  }
  input[type="checkbox"] + label{
    display:inline-block;
    fill:var(--neutral-color);
  }

  .settings-icon{
    border-radius: 50%;
    fill:var(--neutral-color);
  }
  
  .settings-icon:hover{
    fill:var(--main-txt-color);
  }