.th-tweet {
  padding: 8px 5px 8px 5px;
  margin-bottom: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--main-border-color);
  border-radius: 3px;
  color: var(--main-txt-color);
  background: var(--main-bg-color);
  -webkit-user-select: none;
}

.th-gutter {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.th-gutter img {
  max-width: 10rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.th-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5px;
  min-width: 0;
}

.th-plus-container {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.th-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.th-header div {
  padding-right: 4px;
  padding-bottom: 3px;
}

.th-header-name {
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.th-header-username {
  color: var(--neutral-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.th-header-time {
  color: var(--neutral-color);
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  z-index: 1;
}

.th-header-time-link {
  color: var(--neutral-color);
  text-decoration: none;
}

.th-header-time-link:hover {
  -webkit-text-decoration: 'underline';
          text-decoration: 'underline';
}

.th-reply {
  color: var(--neutral-color);
}

.th-text {
  padding-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.th-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 200px;
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
  margin-top: 8px;
  overflow: hidden;
}

.th-media-image img {
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.th-media-image {
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.th-media-top {
  min-height: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.th-media-bottom {
  min-height: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.th-tweet-container {
  position: relative;
  margin-top: 0px;
}

.th-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
  margin-top: 8px;
  padding: 5px 8px 5px 8px;
}

.th-quote-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}

.th-quote-header-profile {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.th-quote-header-name {
  padding-left: 5px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.th-quote-header-username {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--neutral-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.th-header-dot {
  color: var(--neutral-color);
}

.th-quote-header-time {
  padding-left: 5px;
  color: var(--neutral-color);
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: 1;
}

.th-quote-header-time-link {
  color: var(--neutral-color);
  text-decoration: none;
}

.th-quote-header-time-link:hover {
  -webkit-text-decoration: 'underline';
          text-decoration: 'underline';
}

.th-quote-reply {
  padding-top: 3px;
  color: var(--neutral-color);
}

.th-quote-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
}

.th-unavailable {
  background-color: var(--main-background-color);
  color: var(--neutral-color);
}

.th-quote-content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0;
}

.th-quote-content-main-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 150px;
  margin-top: 10px;
  overflow: hidden;
}

.th-quote-content-minimedia {
  max-height: 90px;
  max-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 5px;
}

.th-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 2px;
  color: var(--neutral-color);
}

.th-icon-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.th-icon-field div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  border-radius: 50%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.th-icon-field div:hover {
  cursor: pointer;
}

.th-icons svg {
  width: 16px;
  height: 16px;
}

.th-reply-container:hover {
  background-color: rgba(38, 158, 228, 0.1);
}

.th-reply-container:hover svg {
  color: #269ee4;
}

.th-share-container:hover {
  background-color: rgba(38, 158, 228, 0.1);
}

.th-share-container:hover svg {
  color: #269ee4;
}

.th-rt-container:hover {
  background-color: rgba(33, 182, 103, 0.1);
}

.th-rt-container:hover svg {
  color: #21b667;
}

.th-like-container:hover {
  background-color: rgba(200, 52, 103, 0.1);
}

.th-like-container:hover svg {
  color: #c83467;
}

.th-hover {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  opacity: 0;
  background: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
}

.th-hover:hover {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: copy;
  opacity: 0.7;
}

.th-hover-copy {
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
}
/*# sourceMappingURL=tweet.css.map */