@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

/* .funky-theme {
--color-primary: theme("colors.red.800");
--color-secondary: theme("colors.green.500");
} */

/*make modal visible*/
main > div > div > div > div:first-child {
  z-index: 0;
}

header {
  z-index: 0 !important;
}

/* width */
.searchTweets::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.searchTweets::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

/* Handle */
.searchTweets::-webkit-scrollbar-thumb {
  background: var(--neutral-color);
  border-radius: 30px;
}

/* Handle on hover */
.searchTweets::-webkit-scrollbar-thumb:hover {
  background: var(--main-txt-color);
}
